@using QuanLyThueXe.ViewModels;
@model IEnumerable<LoTrinhViewModel>

@{
    ViewBag.Title = "MenuDanhSachLoTrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div id="DSLT">
    <div class="page-content" style="min-height:1368px">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Trang chủ</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Lộ Trình</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <h3 class="page-title">
            Lộ Trình
        </h3>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    @*<div class="portlet-body col-md-5 pull-right" style="padding-top:25px;float:right">
                            <div class="form-group col-md-1">
                                <a href="@Url.Action("MenuThemLoTrinh", "LoTrinh")" class="btn green" style="margin-left:150px">
                                    Thêm lộ trình
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>*@
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-red" style="font-size:20px"></i>
                            <span class="caption-subject font-red sbold uppercase" style="font-size:25px">Danh sách lộ trình</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="@Url.Action("MenuThemLoTrinh", "LoTrinh")" class="btn green" style="text-decoration:none;color:white;" id="ThemLoTrinh">
                                            Thêm lộ trình
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<div class="btn-group pull-right">
                                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                                Tools
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;"> Print </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Save as PDF </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Export to Excel </a>
                                                </li>
                                            </ul>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered" id="sample_editable_1">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th style="display:none;"> Mã lộ trình</th>
                                    <th> Tên lộ trình </th>
                                    <th> Khách hàng</th>
                                    <th width="16%"></th>
                                </tr>
                            </thead>
                            <tbody id="listLoTrinh">
                                @foreach (var item in Model)
                                {
                                    <tr class="@item.MaLoTrinh">
                                        <td>
                                            @{
                                            i++;
                                            Write(i);
                                        }
                                        </td>
                                        <td class="txtMaLoTrinh" style="display:none;">@item.MaLoTrinh</td>
                                        <td contenteditable="true" name="TenLoTrinh" class="txtTenLoTrinh @item.MaLoTrinh">@item.TenLoTrinh</td>
                                        <td>
                                            @if (@item.MaKH == null)
                                            {
                                                <span></span>
                                            }
                                            else
                                            {
                                                <span>@item.KhachHangs.TenKH</span>
                                            }
                                        </td>
                                        <td>
                                            <span class="col-md-4"><input type="submit" value="Lưu" class="btn btn-danger btnLuuLT" style="display:none;" /></span>
                                            <span class="col-md-4">
                                                @*<a class="btn btn-default btnXoaLT" data-maLT="@item.MaLoTrinh">Xóa</a>*@
                                                <button class="btn btn-default btnHuyLT" data-maLT="@item.MaLoTrinh" style="display:none">Hủy</button>    
                                            </span>
                                            <span class="col-md-4">
                                                @*<a class="btn btn-default btnXoaLT" data-maLT="@item.MaLoTrinh">Xóa</a>*@
                                                <a class="btn btn-default btnXoaLT" href="/LoTrinh/XoaLoTrinh?MaLT=@item.MaLoTrinh">Xóa</a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
