@using QuanLyThueXe.ViewModels;
@model IEnumerable<ThuongHieuViewModel>

@{
    ViewBag.Title = "ChinhSuaTH";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ThuongHieuViewModel th = ViewBag.model as ThuongHieuViewModel;
}

<div class="page-content" style="min-height:1368px">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red" style="font-size:20px"></i>
                        <span class="caption-subject font-red sbold uppercase" style="font-size:25px">Danh sách thương hiệu xe</span>
                    </div>
                </div>
                <div class="portlet-body">

                    @using (Html.BeginForm("ChinhSuaTH", "CaiDatChung"))
                    {
                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <thead>
                                <tr>
                                    <th> Mã thương hiệu </th>
                                    <th> Tên thương hiệu </th>
                                    <th> Chỉnh sửa </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (@item.MaThuongHieu == @th.MaThuongHieu)
                                    {
                                        <tr>

                                            @Html.Hidden("MaThuongHieu", item.MaThuongHieu)
                                            <td><span>@item.MaThuongHieu</span></td>
                                            <td><input type="text" name="TenThuongHieu" class="form-control input-small" value="@item.TenThuongHieu" required="" maxlength="100" /></td>
                                            <td>
                                                <input type="submit" value="Lưu" id="Luu" /> ||
                                                <a href="~/CaiDatChung/MenuDSThuongHieu" style="color:red">Trở về</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><span>@item.MaThuongHieu</span></td>
                                            <td><span> @item.TenThuongHieu </span></td>
                                            <td>
                                                <a href="@Url.Action("ChinhSuaTH","CaiDatChung",new {@MaThuongHieu = item.MaThuongHieu })"> Chỉnh sửa</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<style>
    #Luu {
        border: none;
        background: none;
        color: blue;
    }
</style>



