@using QuanLyThueXe.ViewModels;
@model NhanVienViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content" style="min-height:956px">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Trang chủ</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Nhân Viên</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title">
        Thông tin nhân viên
    </h3>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        @if (!String.IsNullOrEmpty(@Model.HinhAnh))
                        {
                            <img src="~/Content/HinhNV/@Model.HinhAnh" class="img-responsive" alt="">
                        }
                        else
                        {
                            <img src="~/Content/HinhNV/no-image-account.png" class="img-responsive" alt="">
                        }
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">@Model.HoTen</div>
                        <div class="profile-usertitle-job"> @Model.LoaiNhanViens.TenLoaiNV </div>
                        <input type="hidden" class="dropLoaiNhanVien" value="@Model.LoaiNhanViens.MaLoaiNV" />
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-circle green btn-sm">Gửi Email</button>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a>
                                    <i class="fa fa-mobile"></i> @Model.SDT
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-envelope-o"></i> @Model.Email
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Thông tin nhân viên</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <form role="form" action="#">
                                            <div class="form-group">
                                                <label class="control-label">Mã nhân viên</label>
                                                <input type="text" value="@Model.MaNV" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Họ tên</label>
                                                <input type="text" value="@Model.HoTen" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Ngày Sinh</label>
                                                @if (!String.IsNullOrEmpty(@Model.NgaySinh.ToString()))
                                                {
                                                    <input type="text" value="@Model.NgaySinh.Value.ToString("dd/MM/yyyy")" class="form-control" readonly>
                                                }
                                                else
                                                {
                                                    <input type="text" value="" class="form-control" readonly>
                                                }
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Giới tính</label>
                                                @if (Model.GioiTinh == true)
                                                {
                                                    <input type="text" value="Nam" class="form-control" readonly>
                                                }
                                                else
                                                {
                                                    <input type="text" value="Nữ" class="form-control" readonly>
                                                }
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">CMND</label>
                                                <input type="text" value="@Model.CMND" class="form-control" readonly>
                                            </div>
                                            <div class="divBangLai" style="display:none">
                                                <div class="form-group">
                                                    <label class="control-label">GPLX</label>
                                                    @if (!String.IsNullOrEmpty(Model.GPLX))
                                                    {
                                                        <input type="text" value="@Model.GPLX" class="form-control" readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" value="" class="form-control" readonly>
                                                    }
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Bằng Lái</label>
                                                    @if (!String.IsNullOrEmpty(Model.MaBang))
                                                    {
                                                        <input type="text" value="@Model.LoaiBangs.TenBang" class="form-control" readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" value="" class="form-control" readonly>
                                                    }
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Ngày hết hạn</label>
                                                    @if (!String.IsNullOrEmpty(Model.NgayHetHan.ToString()))
                                                    {
                                                        <input class="form-control" type="text" value="@Model.NgayHetHan.Value.ToString("dd/MM/yyyy")" readonly />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" type="text" value="" readonly />
                                                    }
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Địa chỉ</label>
                                                <input type="text" value="@Model.DiaChi" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thành phố</label>
                                                <input type="text" value="@Model.MaTinh" class="form-control" readonly>
                                            </div>
                                            @*<div class="form-group">
                                                    <label class="control-label">Bằng Lái</label>
                                                    <input type="text" value="@Model.LoaiBangs.TenBang" class="form-control" readonly>
                                                </div>*@
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <input type="text" value="@Model.Status" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Ngày Nghỉ</label>
                                                <input type="text" value="@Model.NgayNghi" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thời gian gần đây</label>
                                                <input type="text" value="@Model.ThoiGianGanDay" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Số Lần</label>
                                                <input type="text" value="@Model.SoLan" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Lương thưởng</label>
                                                <input type="text" value="@Model.LuongThuong" class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thông tin khác</label>
                                                <input type="text" value="@Model.ThongTinKhac" class="form-control" readonly>
                                            </div>
                                            <div class="margiv-top-10">
                                                <a href="@Url.Action("ChinhsuaNV", "NhanVien", new { @id = @Model.MaNV })" class="btn green"> Cập nhật</a>
                                                <button class="btn red">
                                                    <a href="/NhanVien/XoaNV?MaNV=@Model.MaNV" style="color:white">Xóa</a>
                                                </button>
                                                <a href="/NhanVien/MenuDanhSachNV" class="btn grey-salsa btn-outline">Trở về</a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
</div>
