@using QuanLyThueXe.ViewModels;
@model List<QuyenViewModel>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QuyenViewModel quyen = ViewBag.Quyen as QuyenViewModel;
}
<div class="page-content" style="min-height:1368px">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Form Stuff</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Quyền
    </h3>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red" style="font-size:20px"></i>
                        <span class="caption-subject font-red sbold uppercase" style="font-size:25px">Danh sách nghiệp vụ</span>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("ChinhSuaQuyen", "Quyen"))
                    {
                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <thead>
                                <tr>
                                    <th> Mã nghiệp vụ </th>
                                    <th> Tên nghiệp vụ </th>
                                    <th> Chỉnh sửa </th>
                                </tr>
                            </thead>
                            <tbody>
                                @*using (Ajax.BeginForm("ChinhSuaNghiepVu", "LoaiController",new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace,OnSuccess="Success" },new { @id= "Submit"}))*@
                                @foreach (var item in Model)
                                {
                                    if (@item.MaQuyen == @quyen.MaQuyen)
                                    {
                                        <tr>

                                            @Html.Hidden("MaQuyen", item.MaQuyen)
                                            <td><span>@item.MaQuyen</span></td>
                                            <td><input type="text" name="TenQuyen" class="form-control input-small" value="@item.TenQuyen" required="" maxlength="100" /></td>
                                            <td>
                                                <input type="submit" value="Lưu" id="Luu" />
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><span>@item.MaQuyen</span></td>
                                            <td><span> @item.TenQuyen </span></td>
                                            <td>
                                                <a href="@Url.Action("ChinhSuaQuyen","Quyen",new {@MaQuyen = item.MaQuyen })"> Chỉnh sửa</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<style>
    #Luu {
        border: none;
        background: none;
        color: blue;
    }
</style>
